app = 'sparkyfitness'
primary_region = 'iad'

[build]
  image = "codewithcj/sparkyfitness:latest"

[env]
  SPARKY_FITNESS_SERVER_HOST = "sparkyfitness-server.flycast"
  SPARKY_FITNESS_SERVER_PORT = "80"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
