app = 'sparkyfitness-server'
primary_region = 'iad'

[build]
  image = "codewithcj/sparkyfitness_server:latest"

[env]
  NODE_ENV = "production"
  SPARKY_FITNESS_SERVER_PORT = "3010"
  SPARKY_FITNESS_LOG_LEVEL = "INFO"
  TZ = "Etc/UTC"

[http_service]
  internal_port = 3010
  force_https = false
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
